*.mat
*.tif
temp
*.m~
parfor_progress.txt
*.stdout
*.stderr
*.stdouterr
foreground-classifiers/data/
foreground-classifiers/2021-03-17/
RESTORED/
freezing/octree*test*folder
freezing/raw-tiles*test*folder

